<a href="https://colab.research.google.com/github/M1nseokSong/data_science_study/blob/main/big_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd 
laptops_df = pd.read_csv('laptops.csv')

laptops_df

     brand             model  ram  ...       os  weight  comments
0     Dell  Inspiron 15-3567    4  ...    linux    2.50       NaN
1    Apple       MacBook Air    8  ...      mac    1.35       NaN
2    Apple       MacBook Air    8  ...      mac    1.35       NaN
3    Apple       MacBook Pro    8  ...      mac    3.02       NaN
4    Apple       MacBook Pro    8  ...      mac    3.02       NaN
..     ...               ...  ...  ...      ...     ...       ...
162   Asus            A555LF    8  ...  windows    2.30       NaN
163   Asus     X555LA-XX172D    4  ...    linux    2.30       NaN
164   Asus            X554LD    2  ...    linux    2.30       NaN
165   Asus    X550LAV-XX771D    2  ...    linux    2.50       NaN
166   Asus     X540LA-XX538T    4  ...  windows    2.30       NaN

[167 rows x 15 columns]

In [5]:
laptops_df.head(3)

   brand             model  ram  ...     os  weight  comments
0   Dell  Inspiron 15-3567    4  ...  linux    2.50       NaN
1  Apple       MacBook Air    8  ...    mac    1.35       NaN
2  Apple       MacBook Air    8  ...    mac    1.35       NaN

[3 rows x 15 columns]

In [6]:
laptops_df.shape

(167, 15)

In [7]:
laptops_df.columns

Index(['brand', 'model', 'ram', 'hd_type', 'hd_size', 'screen_size', 'price',
       'processor_brand', 'processor_model', 'clock_speed',
       'graphic_card_brand', 'graphic_card_size', 'os', 'weight', 'comments'],
      dtype='object')

In [8]:
laptops_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   brand               167 non-null    object
 1   model               167 non-null    object
 2   ram                 167 non-null    int64
 3   hd_type             167 non-null    object
 4   hd_size             167 non-null    int64
 5   screen_size         167 non-null    float64
 6   price               167 non-null    int64
 7   processor_brand     167 non-null    object
 8   processor_model     167 non-null    object
 9   clock_speed         166 non-null    float64
 10  graphic_card_brand  163 non-null    object
 11  graphic_card_size   81 non-null     float64
 12  os                  167 non-null    object
 13  weight              160 non-null    float64
 14  comments            55 non-null     object
dtypes: float64(4), int64(3), object(8)
memory usage: 19.7+ KB

In [9]:
laptops_df.describe() #통계값

              ram     hd_size  ...  graphic_card_size      weight
count  167.000000   167.00000  ...          81.000000  160.000000
mean     6.898204   768.91018  ...          52.160494    2.250812
std      3.787479   392.99080  ...         444.134142    0.648446
min      2.000000    32.00000  ...           1.000000    0.780000
25%      4.000000   500.00000  ...           2.000000    1.900000
50%      8.000000  1024.00000  ...           2.000000    2.200000
75%      8.000000  1024.00000  ...           4.000000    2.600000
max     16.000000  2048.00000  ...        4000.000000    4.200000

[8 rows x 7 columns]

In [10]:
laptops_df.sort_values(by='price', inplace=True) # 오름차순

In [11]:
laptops_df.sort_values(by='price', ascending=False, inplace=True) # 내림차순
laptops_df

         brand  ...                                           comments
5        Apple  ...                                                NaN
90   Alienware  ...     Maximum Display Resolution : 1920 x 1080 pixel
96   Alienware  ...  13.3 inch FHD (1920 x 1080) IPS Anti-Glare 300...
31        Acer  ...                                Integrated Graphics
154  Microsoft  ...                                                NaN
..         ...  ...                                                ...
73        Acer  ...                                                NaN
100       Acer  ...                                                NaN
108       Acer  ...                                                NaN
83        Acer  ...                                                NaN
148       Acer  ...                                                NaN

[167 rows x 15 columns]

In [12]:
laptops_df['brand'].unique()

array(['Apple', 'Alienware', 'Acer', 'Microsoft', 'HP', 'Dell', 'Lenovo',
       'Asus'], dtype=object)

In [13]:
laptops_df['brand'].value_counts()

HP           55
Acer         35
Dell         31
Lenovo       18
Asus          9
Apple         7
Alienware     6
Microsoft     6
Name: brand, dtype: int64

In [14]:
laptops_df['brand'].describe()

count     167
unique      8
top        HP
freq       55
Name: brand, dtype: object

In [18]:
word_df = pd.read_csv('world_cities.csv', index_col=0)
word_df['Density'] = word_df["Population"] / word_df["Land area (in sqKm)"]
word_df.loc[word_df["Density"] > 5000, 'density'] = 5

word_df

    City / Urban area     Country  ...      Density  density
0        Buenos Aires   Argentina  ...  4942.630185      NaN
1           Melbourne   Australia  ...  1520.192308      NaN
2              Sydney   Australia  ...  2075.874333      NaN
3            Brisbane   Australia  ...   940.736120      NaN
4               Perth   Australia  ...  1220.954357      NaN
..                ...         ...  ...          ...      ...
245            Canton         USA  ...   717.741935      NaN
246           Spokane         USA  ...   902.964960      NaN
247          Tashkent  Uzbekistan  ...  4143.126177      NaN
248  Ho Chi Minh City     Vietnam  ...  9459.459459      5.0
249            Harare    Zimbabwe  ...  2457.865169      NaN

[249 rows x 6 columns]